force-app/main/default/flows/Create_Onboarding_Tasks_On_Hire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Due_Date_Plus_1</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>Due_Date_Plus_2</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <name>Due_Date_Plus_3</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>Due_Date_Plus_5</name>
        <dataType>Date</dataType>
        <expression>TODAY()+5</expression>
    </formulas>
    <formulas>
        <name>Due_Date_Plus_7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Create Onboarding Tasks - On Hire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Onboarding Tasks - On Hire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_30_Day_Ramp_Plan</name>
        <label>Create 30-Day Ramp Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Manager Prep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date_Plus_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>30-Day Ramp Plan Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Benefits_Enrollment</name>
        <label>Create Benefits Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Day_1_Orientation</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Benefits</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date_Plus_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Benefits Enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Day_1_Orientation</name>
        <label>Create Day 1 Orientation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_30_Day_Ramp_Plan</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Orientation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date_Plus_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Day 1 Orientation Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_IT_Setup_Request</name>
        <label>Create IT Setup Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Benefits_Enrollment</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>IT Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date_Plus_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>IT Setup Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pre_boarding_Paperwork</name>
        <label>Create Pre-boarding Paperwork</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_IT_Setup_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>HR Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date_Plus_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Pre-boarding Paperwork</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Pre_boarding_Paperwork</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </filters>
        <object>Job_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
